:root {
    --green: #00bf7d;
    --lblue: #00b4c5;
    --mblue: #0073e6;
    --dblue: #2546f0;
    --purple: #5928ed;
}
body {
    font-family: "Open Sans", sans-serif;
}
.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.button-link {
    background-color: var(--purple);
    color: white;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 0 5px;
}
.text-center {
    text-align: center;
}
/* flexbox layout for overall page */
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.flex-header-menu {
    flex-shrink: 0;
    color: black;
    padding: 0px 4px 0px 4px;
}
.flex-main-content {
    flex: 1;
}
.flex-header-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}
.flex-header-menu img {
    width: 15vw;
    height: auto;
    padding: 5px;
    min-width: 20px;
    max-width: 20px;
}
.header-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* set width to full screen */
.main-container {
    width: 100vw;
}
/* setup grid */
.grid-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(10vh, auto);
    gap: 16px;
    margin: 2vh, 2vw;
}

/* width of items in grid row */
.col-1 {
    grid-column: span 1;
}
.col-2 {
    grid-column: span 2;
}
.col-3 {
    grid-column: span 3;
}
.col-4 {
    grid-column: span 4;
}
.col-5 {
    grid-column: span 5;
}
.col-6 {
    grid-column: span 6;
}
.col-7 {
    grid-column: span 7;
}
.col-8 {
    grid-column: span 8;
}
.col-9 {
    grid-column: span 9;
}
.col-10 {
    grid-column: span 10;
}
.col-11 {
    grid-column: span 11;
}
.col-12 {
    grid-column: span 12;
}
/* setting up quick margin and padding */
/* 2% margin on all sides */
.m-2 {
    margin: 2vh 2vw;
}
/* 2% margin left and right */
.mx-2 {
    margin: 0 2vw;
}
/* 2% margin up and down */
.my-2 {
    margin: 2vh 0vw;
}
/* 2% padding on all sides */
.p-2 {
    padding: 2vh 2vw;
}
/* 2% padding left and right */
.px-2 {
    padding: 0 2vw;
}
/* 2% padding up and down */
.py-2 {
    padding: 2vh 0vw;
}
