/* card styling */
.card {
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    min-width: 90vw;
}
.card-header {
    font-weight: 600;
    font-size: larger;
}
.card-banner-image {
    display: block;
    margin: auto;
    width: 80%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}
.card-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;    
}
/* create event form styling */
.form-group {
    margin-bottom: 1rem;
    margin-left: 2vh;
}
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-group textarea {
    width: 85%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1rem;
}
.form-check {
    margin-bottom: 0.25rem;
}
.form-check-label {
    display: inline !important;
    margin-left: 0.25rem;
}

/* Landscape phones and tablets */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .card {
        min-width: 80vw;
    }
}
/* Desktop */
@media only screen and (min-width: 992px) {
    .card {
        min-width: 30vw;
    }
}