.profile-icon-container-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: right;
}
.profile-icon-container-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
}
.profile-icons {
    display: flex;
    background-color: var(--lblue);
    border-radius: 50%;
    height: auto;
    width: 6vh;
    margin: 0 15px;
}
.profile-text {
    padding: 0 15px 0 0;
}
.profile-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
}
#profile-btn {
    margin: 5px;
    min-height: 10vh;
    min-width: 45vw;
    max-width: 50vw;
}
#hidden-description {
    text-align: left;
    padding: 0 0 0 15px;
    display: none;
}
.start-6 {
    grid-column-start: 6;
}

/* Landscape phones and tablets */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #profile-btn {
        margin: 5px;
        max-width: 40vw;
        min-height: 35vh;
    }
    #hidden-description {
        display: block;
    }
    .profile-icons {
        width: 9vh;
        height: auto;
    }
    .profile-icon-wrapper {
        margin: 5px 0 0 0;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    #profile-btn {
        margin: 5px;
        min-width: 25vw;
        min-height: 18vh;
        max-width: 25vw;
    }
    #hidden-description {
        display: block;
    }
    .profile-icons {
        width: 9vh;
        height: auto;
    }
    .profile-icon-wrapper {
        margin: 5px 0 0 0;
    }
    /* .profile-icon-container {
        justify-items: right;
    } */
}