/* search box, filter button, search button */
#search-box {
    width: 180px;
    padding: 10px;
    border-radius: 10px;}
/* Pop up window styling */
.pop-up-window {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);}
.pop-up-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-height: 80vh;
    overflow: auto;
    width: 80%;}
.close {
    color: white;
    background: none;
    border: none;
    float: right;
    font-size: 28px;
    font-weight: bold;}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;}
.pop-up-header {
    padding: 2px 16px;
    background-color: var(--lblue);}
.pop-up-body {padding: 2px 2px;}
.pop-up-footer {
    background-color: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;;
}

/* Landscape phones and tablets */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #search-box {
        width: 220px;
        padding: 10px;
    }
    .search-area {
        background-image: url('david-tip-m-r.jpg'); 
    }
}
/* Desktop */
@media only screen and (min-width: 992px) {
    #search-box {
        width: 300px;
        padding: 10px;
    }
    .search-area {
        padding: 200px 0;
        margin: 0 150px;
        background-image: url('david-tip-m-r.jpg');
    }
    .pop-up-content {
        width: 40%;
    }
}