:root {
    --green: #00bf7d;
    --lblue: #00b4c5;
    --mblue: #0073e6;
    --dblue: #2546f0;
    --purple: #5928ed;}
/* general styling and setup */
body {
    font-family: "Open Sans", sans-serif;}
.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(10vh, auto);
    gap: 16px;
    margin: 2vh, 2vw;}
/* header styling */
.flex-header {
    flex-shrink: 0;
    color: black;
    padding: 0px 4px 0px 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;}
.flex-header img {
    width: 15vw;
    height: auto;
    padding: 5px;
    min-width: 20px;
    max-width: 20px;}
.header-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;}
.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 600;}
.button-link {
    background-color: var(--purple);
    text-decoration: none;
    color: white;
    padding: 4px 7px;
    border-radius: 10px;
    margin: 0 5px;}
.home-link {
    display: none;}
#burger-links {
    display: none;
    background-color: whitesmoke;
    padding: 4px;
    flex-direction: column;
    color: black;
    text-decoration: none;
    font-weight: 600;}

/* search box, filter button, filter form, search button */
#search-box {
    width: 250px;
    padding: 10px;
}
#search-filter-button {
    color: #0073e6;
}
#search-button {
    color: #0073e6;
}
#search-filter-form {
    display: none;
}

/* Landscape phones and tablets */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .flex-header {
        grid-template-columns: repeat(3, 1fr);    }
    .home-link {
        display: flex;    }
    .col-md-1 {grid-column: span 1;}
    .col-md-2 {grid-column: span 2;}
    .col-md-3 {grid-column: span 3;}
    .col-md-4 {grid-column: span 4;}
    .col-md-5 {grid-column: span 5;}
    .col-md-6 {grid-column: span 6;}
    .col-md-7 {grid-column: span 7;}
    .col-md-8 {grid-column: span 8;}
    .col-md-9 {grid-column: span 9;}
    .col-md-10 {grid-column: span 10;}
    .col-md-11 {grid-column: span 11;}
    .col-md-12 {grid-column: span 12;}
}
/* Desktop */
@media only screen and (min-width: 992px) {
    .flex-header {
        grid-template-columns: repeat(3, 1fr);
    }
    .home-link {
        display: flex;
    }
    .col-lg-1 {grid-column: span 1;}
    .col-lg-2 {grid-column: span 2;}
    .col-lg-3 {grid-column: span 3;}
    .col-lg-4 {grid-column: span 4;}
    .col-lg-5 {grid-column: span 5;}
    .col-lg-6 {grid-column: span 6;}
    .col-lg-7 {grid-column: span 7;}
    .col-lg-8 {grid-column: span 8;}
    .col-lg-9 {grid-column: span 9;}
    .col-lg-10 {grid-column: span 10;}
    .col-lg-11 {grid-column: span 11;}
    .col-lg-12 {grid-column: span 12;}
}
/* quick column and margin setup */
.col-1 {grid-column: span 1;}
.col-2 {grid-column: span 2;}
.col-3 {grid-column: span 3;}
.col-4 {grid-column: span 4;}
.col-5 {grid-column: span 5;}
.col-6 {grid-column: span 6;}
.col-7 {grid-column: span 7;}
.col-8 {grid-column: span 8;}
.col-9 {grid-column: span 9;}
.col-10 {grid-column: span 10;}
.col-11 {grid-column: span 11;}
.col-12 {grid-column: span 12;}
/* 2% margin on all sides */
.m-2 {margin: 2vh 2vw;}
/* 2% margin left and right */
.mx-2 {margin: 0 2vw;}
/* 2% margin up and down */
.my-2 {margin: 2vh 0vw;}
/* 2% padding on all sides */
.p-2 {padding: 2vh 2vw;}
/* 2% padding left and right */
.px-2 {padding: 0 2vw;}
/* 2% padding up and down */
.py-2 {padding: 2vh 0vw;}