:root {
    --green: #00bf7d;
    --lblue: #00b4c5;
    --mblue: #0073e6;
    --dblue: #2546f0;
    --purple: #5928ed;
}

body {
    font-family: "Open Sans", sans-serif;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
